<!-- Template à utiliser sur une page contenant une variable movie pour son affichage détaillé -->

<span class="badge  p-2">Sortie : {{movi.releaseYear|date('d/m/Y')}}</span>
<span class="badge  p-2" id="type">Genre : {{movie.type}}</span>
<span class="badge  p-2">Réalisateur : {{movie.autor}}</span>
{% if movie.getAverage %}
<span class="badge secondBg p-2" id="average">Evaluation : {{ movie.getAverage }}/10</span>
{% else %}
<span class="badge secondBg p-2" id="average">Pas encore d'évaluation</span>
{% endif %}

<div class="mt-5">
<div class="float-left">
<img class="" src="https://picsum.photos/400/300" alt="Card image cap">
</div>
<p id="sumary">{{movie.summary}}</p>
</div>
